select {
    color: black;
}
.create-events-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 5rem;
}

.create-events-container {
    width: 50vw;
}

.create-events-form div {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 5rem;
}
