.user-posts {
    width: 70vw;
}

.post-info-section {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}

.post-container {
    border: solid 1px white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-info h2 {
    margin: 0;
}

.post-dates {
    display: flex;
    align-items: flex-end;
}

.post-dates ul {
    margin: 0;
}

.invite-accepted {
    color: lightgreen;
}

.invite-pending {
    color: grey;
}

.invite-declined {
    color: lightcoral;
}

.post-info-section div p,
.post-info-section div i,
.post-info-section div q,
.post-info-section div ul li {
    margin: 0;
}
