.invitations {
    background-color: lightgreen;
    border-radius: 2px;
}

.invitations p {
    color: #2b2a2a;
    font-family: sans-serif;
    text-align: center;
}
.invitation-card {
    padding: 10px;
    background-color: white;
    border-top:  solid 2px #2b2a2a;
}

.invitation-card p {
    text-align: left;
}

.invitation-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.invite-btn {
    border-radius: 5px;
    border: none;
    transition: ease-in 0.1s;
    width: 80px;
}

.accept {
    background-color: #3f3e3e;
    color: white;

}
.accept:hover {
    background-color: #5c5a5a;

}

.decline {
    background-color: lightcoral;
    color: #2b2a2a;
}
.decline:hover {
    background-color: rgb(243, 162, 162);
}
